@model IEnumerable<OnlineStore2.ViewModels.MotorcycleIndexVM>

@{
    ViewBag.Title = "Index";
}
<script>
    function myFnc(model) {
        // In this case using document.getElementById('modelRow') instead of document.getElementsByClassName('modelRow') will not work as intended in this scenario.
        // The document.getElementById() method retrieves a single element with the specified ID attribute, not a collection of elements.It is suitable when you want to target a specific element with a unique ID.
        // In the provided code, modelRow is intended to be a CSS class applied to multiple elements, specifically the rows in the table that correspond to different models.Therefore, you need to use document.
        // getElementsByClassName('modelRow') to retrieve all elements with the class name 'modelRow' as a collection.
        var elements = document.getElementsByClassName('modelRow');
        for (var i = 0; i < elements.length; i++) {
            if (elements[i].getAttribute('data-model') === model) {
                elements[i].style.display = 'table-row';
            } else {
                elements[i].style.display = 'none';
            }
        }
    }
</script>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="columnImage">
                    <table>
                        <tr>
                            <td>
                                <button onclick="myFnc('@item.Model')">
                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Image)" style="width:80%" />
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
    <div class="column" style="background-color:#bbb;">
        <div class="dn">
            <table class="table">
                <tr>
                    <th>
                        <h4>Model</h4>
                    </th>
                    <th>
                        <h4>Price</h4>
                    </th>
                    <th>
                        <h4>Brand</h4>
                    </th>
                    <th>
                        <h4>Category</h4>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="modelRow" data-model="@item.Model">
                        <td>
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BrandName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
